<head>
    <link rel="stylesheet" href="./badge.css">
    <style>%style</style>
</head>
<div id = "main">
    <img id = "pfp" src="%pfp" alt="">
    <div id = "name">
        <div id="uname" style="font-size: %fontsizeem">%nick</div>
        <div id="progress-bar">
            <div id="progress-fill" class = "progress" style = "width: %fillwidth%"></div>
            <div id="progress-empty" class = "progress" style = "width: %emptywidth%"></div>
        </div>
        <div id = "rank" style = "color: %color">rank %rank</div>
    </div>
        <div id = "numbers">
    <span class = "stat">%subscribers subscribers</span>
    <span class = "stat">%subscriptions subscriptions</span>
    <span class = "stat">%days days active</span>
    <span class = "stat">%posts posts</span>
</div>
